@font-face {
    font-family: "cardo" ;
    src: url(./assets/Cardo/Cardo.ttf);
}
@font-face {
    font-family: "cardo-bold" ;
    src: url(./assets/Cardo/Cardo-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "cardo";
}

body{
    display: flex;
    background-color: rgb(234, 237, 240);
}


.left-section{
    width: 37%;
    height: 100vh;
    position: relative;
    background-image: url(./assets/ferns.jpg);
    background-size: cover;
    background-position: center;
}

.logo-body{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "cardo-bold";
    font-size: 24px;
    top: 9rem;
    text-align: center;
    color: white;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.logo-body > * {
    flex-grow: 0;
}

.logo-body img{
    height: auto;
    max-width: 100px;
}

.credit {
    position: absolute;
    bottom: 3rem;
    color: white;
    opacity: 0.8;
    justify-self: center;
}

.credit a {
    color: white;
}


.right-section{
    flex: 1;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;

    --center-value: 80px;
}

.intro-text p {
    font-size: 1.15rem;
    line-height: 1.6;
    color: #111;
    margin-bottom: 16px;
    padding: 0px var(--center-value);
    max-width: 600px;
}

.form-background {
    background-color: white;
    box-shadow: 0px 5px 10px 0px #d0cece;
}
.form-header {
    padding: 10px var(--center-value);
    font-size: 25px;
}

.form-fields{
    align-items: center;
    max-width: 450px;
    padding: 20px var(--center-value);
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-bottom: 20px;
}

.form-fields > div {
    flex: 1;
}

.form-submit {
    margin: 0px var(--center-value);
}

.form-submit > button {
    padding: 10px 50px;
    margin-bottom: 20px;
    background-color: #596D48;
    border-radius: 5px;
    border: 1px solid;
    border-color: #596D48;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    
}

input {
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(199, 193, 193);
    font-size: 15px;

}

input:user-invalid {
    border-color: red;
}

input:focus{
    border-color: rgb(42, 42, 193);
    outline: none;
}

